body{
    width:600px;
    padding:0px;
    margin:0px;
}

#main{
    position: relative;
}


#header{
    border-color: black;
    background-color: #2D2D2D;
    font: 26px/38px Arial,sans-serif;
    color:white;
    text-align: center;
    margin-bottom:10px ;
}

ul{
    list-style: none;
    margin-top:10px;
    padding-left:25px;
}

.group{
    font: 13px arial,sans-serif;
    border-radius: 10px 0px 0px 10px;
    border:1px solid rgba(49, 137, 255, 0.43);
    background-image: -webkit-linear-gradient(top, #eee, #ddd);
    color:#333;
    display: inline-block;
    padding:7px 28px 10px 9px;
    margin-top:3px;
    cursor: pointer;
    opacity: 0.8;
    border-right:0px #fff solid;
    -webkit-transition-property:opacity;
    -webkit-transition-duration: 0.8s;
}

.active-group{
    margin-left:-15px;
    padding-right:38px;
    font-weight: bold;
    opacity: 1;
    color:#fff;
    border:1px solid #3079ED;
    background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);

}


.group:hover{
    background-color: #c71585;

}

.info{
    position: absolute;
    top: -7px;
    left: 106px;
    font: 13px arial,sans-serif;
    border: 1px solid #3079ED;
    padding: 10px;
    background-color: #FFFFD7;
    width:400px
}

.hidden{
    display:none;
}

.clear{
    clear:both;
}

.active{
}

.day-info{
    width: 100%;
    margin-bottom: 5px;
}

.day-header{
    background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
    color:#fff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    border: 1px #bbb solid;
    font: 16px "Century Gothic", Helvetica, Arial, sans-serif;
    padding:5px 0 2px 0;
}

.day-content{
    background:#FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px #bbb solid;
    border-left: 1px #bbb solid;
}

.day-left{
    color:#888;
    width:197px;
    float:left;
    padding:10px 0px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
}

.time{
    color:#000;
    font-size:14px;
}

.dull{
    color:#666;
    background: #eee;
    border-color:#ddd;
    opacity: .9;
}

#loading{
    background:url(ajax-loader.gif) no-repeat 50% 50%;
    width: 32px;
    height: 32px;
    margin:auto;
    margin-bottom: 20px;
}

#effective{
    font-size:12px;
}


#searchBar{
    display: none;
    border-bottom: 1px dotted #bbb;
    margin-bottom: 10px;
    padding-left: 4px;
    padding-bottom: 10px;
}


#location{
    border:1px solid #3875d7;
    padding:3px 10px;
}